/*
CUSTOM VARIABLES
*/
:root {
  --ff-sans: "Public Sans", sans-serif;
  

  /* mobile/small screen font-sizes */
  --fs-200: 0.813rem;/*13px/small text in Footer*/
  --fs-300: 0.938rem;/*15px/base font small/label*/
  --fs-400: 1.063rem;/*17px/base font*/
  /*headings*/
  --fs-500: 1.25rem;/*h4*/
  --fs-600: 1.438rem;/*h3/*/
  --fs-700: 1.75rem;/*h2*/
  --fs-800: 2.25rem;/*h1*/
  /*large number font-size*/
  --fs-900: 2.5rem;/*40px*/
  
  /*font-weight*/
  --fw-100: 100;/*thin*/
  --fw-400: 400;/*regular*/
  --fw-500: 500; /*medium*/
  --fw-550: 550;/*medium itallic*/
  --fw-600: 600;/*Semibold*/
  --fw-700: 700;/*bold*/


  /*Colors*/
  --clr-neutral-100: #ffffff;/*text on blue/orange background*/
  --clr-neutral-300: #2B2E34;/*text light background*/
  --clr-accent-400: #F15F22;/*main accent color*/
  --clr-accent-500: #CC4400;/*accent color as text*/
  --clr-bg-100: #ffffff;/*Light background color*/
  --clr-bg-200: #A09F9F;/*Light grey background color*/
  --clr-bg-300: #316CE3;/*Blue background color*/
  --clr-error: #E65c5c;/*Error color on form*/
  --clr-success: #47b26b;/*Success color on form*/
  --clr-hover: #e95517;/*Hover color on primary, secondary button and on any links--*/
  
  /*Border radius*/
  --br: 4px;/*border-radius*/

  /*Box-shadow*/
  --box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.4);/**/
}

/*Font sizes for tablet*/
@media (min-width: 48em) {
  :root {
     /*
      --fs-500: 1.88rem;/*h4*
      --fs-600: 1.75rem;/*h3/*
      --fs-700: 2rem;/*h2*
      --fs-800: 2.5rem;/*h1*
    */
  }
}

/*Font sizes for desktop*/
@media (min-width: 87.5em) {
  :root {
    --fs-200: 0.875rem;/*14px/small text in Footer*/
    --fs-300: 1rem;/*16px/base font small/label*/
   
    --fs-400: 1.125rem;/*18px/base font*/
    /*large number font-size*/
    --fs-900: 3rem;/*48px*/
    /*
      --fs-500: 1.5rem;/*h4*
      --fs-600: 1.875rem;/*h3/*
      --fs-700: 2.5rem;/*h2*
      --fs-800: 3.125rem;/*h1*
    */
  }
}

/*Responsive fluid styles for heading font-sizes*/
/*MAYBE Max viewport width MAY BE WRONG*/

h1 {
  font-size: clamp(2.25rem, 2.0000rem + 1.2500vw, 3.125rem);
}

h2 {
  font-size: clamp(1.75rem, 1.5357rem + 1.0714vw, 2.5rem);
}

h3 {
  font-size: clamp(1.438rem, 1.3131rem + 0.6243vw, 1.875rem);
}

h4 {
  font-size: clamp(1.25rem, 1.1786rem + 0.3571vw, 1.5rem);
}



/*RESET*/

/*
  Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  Remove default margin and padding
*/
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/*
  Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  Add accessible line-height
  Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*Remove margin from the following*/
body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

/*Remove padding list style from lists*/
ul,
ol {
  list-style: none;
  padding: 0;
}


/*
  Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


/*GENERAL STYLES*/

/*Inherited styles from body*/
body {
  background-color: var(--clr-bg-100);
  color: var(--clr-neutral-300);
  line-height: 1.6;
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
}

/*Typography*/


h2,
h3,
h4 {
  font-family: var(--ff-sans);
  letter-spacing: -0.02em;
  line-height: 1.2;
}

h1 {
  font-family: var(--ff-sans);
  font-weight: var(--fw-700);
  letter-spacing: -0.02em;
  line-height: 1.25;
}

h2 {
  
  font-weight: var(--fw-700);
}

h3 { 
  font-weight: var(--fw-600);
  line-height: 1.2;
  letter-spacing: -0.017px;
}

/*small body/base text styles*/
.text-300 {
  font-size: var(--fs-300);
  line-height: 1.75;
}

/*Label styles*/
.label {
  font-size: var(--fs-300);
  letter-spacing: 0.05em;
  line-height: 1;
}

/*UTILITY CLASSES*/

/*Container holding the main content where max-width is 1440px*/
.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.container-small {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/*Section padding*/
section {
  padding: 5.25rem 0;
}

section:nth-of-type(1) {
  padding-top: 2rem;
  padding-bottom: 5.25rem;
}

/*section:last-of-type {
  padding: 0;
}*/

/*Text spacing*/
.flow-content-small > * + * { 
  margin-top: 1rem;/*16px*/
}

/*Spacing between section heading and next element not part of section heading*/
.flow-content-large > * + * { 
  margin-top: 2.5rem;/*40px*/
}

/*Flexbox*/
.split {
  display: flex;
  align-items: center;
}

.split-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*tablet*/
@media (min-width: 48em) {
  section {
    padding: 6rem 0;
  }
  
  section:nth-of-type(1) {
    padding-top: 3rem;
    padding-bottom: 6rem;
  }

  .flow-content-small > * + * { 
    margin-top: 1.5rem;/*24px*/
  }

  .flow-content-large > * + * { 
    margin-top: 3rem;/*48px*/
  }
}

/*desktop*/
@media (min-width: 87.5em) {
  section {
    padding: 7.5rem 0;
  }
  
  section:nth-of-type(1) {
    padding-top: 3.5rem;
    padding-bottom: 7.5rem;
  }

  .flow-content-large > * + * { 
    margin-top: 3.5rem;/*56px*/
  }
}



/*COMPONENTS*/

/*Button styles*/

/*General button styles*/
.btn {
  display: inline-block;
  cursor: pointer;
  border-radius: var(--br);
  font-size: var();
  font-weight: var(--fw-500);
  letter-spacing: .02rem;
  padding: 0.875em 1.875em;
  text-transform: capitalize;
  text-align: center;
  text-decoration: none;
  
}

/*Primary button styles*/
.btn-primary {
  color: var(--clr-neutral-100);
  background-color: var(--clr-accent-400);
  
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--clr-hover);
  
}

/*Secondary button styles*/
.btn-secondary {
  
  border: 1px solid var(--clr-neutral-300);
  color: var(--clr-neutral-300);
  
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: var(--clr-hover);
  color: var(--clr-neutral-100);
}

/*scroll animation for each section*/

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/*underline animation for each section*/

.hidden {
  opacity: 0;
  transition: all 1s;
  transform: translateX(-50%);/*can also do -100px*/
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);/*can also do 0%*/
}

/*hr line inside the mobile menu*/
.nav-line {
  border: none;
  height: 1.5px;
  background-color: var(--clr-neutral-300);
  margin-top: 1em;
}



/*HERO SECTION*/

.hero a {
  text-decoration: none;
}

/*Header*/



