/*
CUSTOM VARIABLES
*/
:root {
  --ff-sans: "Public Sans", sans-serif;
  

  /* mobile/small screen font-sizes */
  --fs-200: 0.813rem;/*13px/small text in Footer*/
  --fs-300: 0.938rem;/*15px/base font small/label*/
  --fs-400: 1.063rem;/*17px/base font*/
  /*headings*/
  --fs-500: 1.25rem;/*h4*/
  --fs-600: 1.438rem;/*h3/*/
  --fs-700: 1.75rem;/*h2*/
  --fs-800: 2.25rem;/*h1*/
  /*large number font-size*/
  --fs-900: 2.5rem;/*40px*/
  
  /*font-weight*/
  --fw-100: 100;/*thin*/
  --fw-400: 400;/*regular*/
  --fw-500: 500; /*medium*/
  --fw-550: 550;/*medium itallic*/
  --fw-600: 600;/*Semibold*/
  --fw-700: 700;/*bold*/


  /*Colors*/
  --clr-neutral-100: #ffffff;/*text on blue/orange background*/
  --clr-neutral-300: #2B2E34;/*text light background*/
  --clr-accent-400: #F15F22;/*main accent color*/
  --clr-accent-500: #CC4400;/*accent color as text*/
  --clr-bg-100: #ffffff;/*Light background color*/
  --clr-bg-200: #f7f7f7;/*Light grey background color*/
  --clr-bg-300: #316CE3;/*Blue background color*/
  --clr-error: #E65c5c;/*Error color on form*/
  --clr-success: #47b26b;/*Success color on form*/
  --clr-hover: #e95517;/*Hover color on primary, secondary button and on any links--*/
  
  /*Border radius*/
  --br: 4px;/*border-radius*/

  /*Box-shadow*/
  --box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.4);/**/
}

/*Font sizes for tablet*/
@media (min-width: 48em) {
  :root {
     /*
      --fs-500: 1.88rem;/*h4*
      --fs-600: 1.75rem;/*h3/*
      --fs-700: 2rem;/*h2*
      --fs-800: 2.5rem;/*h1*
    */
  }
}

/*Font sizes for desktop*/
@media (min-width: 87.5em) {
  :root {
    --fs-200: 0.875rem;/*14px/small text in Footer*/
    --fs-300: 1rem;/*16px/base font small/label*/
   
    --fs-400: 1.125rem;/*18px/base font*/
    /*large number font-size*/
    --fs-900: 3rem;/*48px*/
    /*
      --fs-500: 1.5rem;/*h4*
      --fs-600: 1.875rem;/*h3/*
      --fs-700: 2.5rem;/*h2*
      --fs-800: 3.125rem;/*h1*
    */
  }
}

/*Responsive fluid styles for heading font-sizes*/
/*MAYBE Max viewport width MAY BE WRONG*/

h1 {
  font-size: clamp(2.25rem, 2.0000rem + 1.2500vw, 3.125rem);
}

h2 {
  font-size: clamp(1.75rem, 1.5357rem + 1.0714vw, 2.5rem);
}

h3 {
  font-size: clamp(1.438rem, 1.3131rem + 0.6243vw, 1.875rem);
}

h4 {
  font-size: clamp(1.25rem, 1.1786rem + 0.3571vw, 1.5rem);
}



/*RESET*/

/*
  Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  Remove default margin and padding
*/
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/*
  Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  Add accessible line-height
  Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*Remove margin from the following*/
body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

/*Remove padding list style from lists*/
ul,
ol {
  list-style: none;
  padding: 0;
}


/*
  Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


/*GENERAL STYLES*/

/*Inherited styles from body*/
body {
  background-color: var(--clr-bg-100);
  color: var(--clr-neutral-300);
  line-height: 1.6;
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
}

/*Typography*/


h2,
h3,
h4 {
  font-family: var(--ff-sans);
  letter-spacing: -0.02em;
  line-height: 1.2;
}

h1 {
  font-family: var(--ff-sans);
  font-weight: var(--fw-700);
  letter-spacing: -0.02em;
  line-height: 1.25;
}

h2 {
  
  font-weight: var(--fw-700);
}

h3 { 
  font-weight: var(--fw-600);
  line-height: 1.2;
  letter-spacing: -0.017px;
}

/*small body/base text styles*/
.text-300 {
  font-size: var(--fs-300);
  line-height: 1.75;
}

/*Label styles*/
.label {
  font-size: var(--fs-300);
  letter-spacing: 0.05em;
  line-height: 1;
}

/*UTILITY CLASSES*/

/*Container holding the main content where max-width is 1440px*/
.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.container-small {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/*Section padding*/
section {
  padding: 5.25rem 0;
}

section:nth-of-type(1) {
  padding-top: 0;
  padding-bottom: 0;
}

section:nth-of-type(2) {
  padding-top: 2rem;
  padding-bottom: 5.25rem;
}

section:nth-of-type(6) {
  padding: 0;
}

/*section:last-of-type {
  padding: 0;
}*/

/*Text spacing*/
.flow-content-small > * + * { 
  margin-top: 1rem;/*16px*/
}

/*Spacing between section heading and next element not part of section heading*/
.flow-content-large > * + * { 
  margin-top: 3.5rem;/*56px*/
}

/*Flexbox*/
.split {
  display: flex;
  align-items: center;
}

.split-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*tablet*/
@media (min-width: 48em) {
  section {
    padding: 6rem 0;
  }
  
  section:nth-of-type(2) {
    padding-top: 3.5rem;
    padding-bottom: 6rem;
  }

  .flow-content-small > * + * { 
    margin-top: 1.5rem;/*24px*/
  }

  .flow-content-large > * + * { 
    margin-top: 4rem;/*64px*/
  }
}

/*desktop*/
@media (min-width: 87.5em) {
  section {
    padding: 7.5rem 0;
  }
  
  section:nth-of-type(2) {
    padding-top: 5rem;
    padding-bottom: 7.5rem;
  }

  .flow-content-large > * + * { 
    margin-top: 4.5rem;/*72px*/
  }
}

/*COMPONENTS*/

/*Button styles*/

/*General button styles*/
.btn {
  display: inline-block;
  cursor: pointer;
  border-radius: var(--br);
  font-size: var(--fs-400);
  font-weight: var(--fw-500);
  letter-spacing: .02rem;
  padding: 0.7em 1.7em;
  text-transform: capitalize;
  text-align: center;
  text-decoration: none;
  transition: .3s linear;
}

/*Primary button styles*/
.btn-primary {
  color: var(--clr-neutral-100);
  background-color: var(--clr-accent-400);
  transition: all ease-in-out .3s;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--clr-hover);
  
}

/*Secondary button styles*/
.btn-secondary {
  border: 1px solid var(--clr-neutral-300);
  color: var(--clr-neutral-300);
  transition: all ease-in-out .3s;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: var(--clr-hover);
  color: var(--clr-neutral-100);
}

/*scroll animation for each section*/

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/*underline animation for each section*/

.hidden {
  opacity: 0;
  transition: all 1s;
  transform: translateX(-50%);/*can also do -100px*/
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);/*can also do 0%*/
}

/*hr line inside the mobile menu*/
.nav-line {
  border: none;
  height: 1.5px;
  background-color: var(--clr-neutral-300);
  margin-top: 1em;
}

/*HEADER*/

header a {
  text-decoration: none;
}

/*Navigation*/
nav .container-nav {
  
  margin: 0rem 1.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

nav {
  background: var(--clr-bg-200);
  padding: 1rem 0;
}

.logo-text {
  font-size: var(--fs-600);
  font-weight: var(--fw-700);
  color: var(--clr-neutral-300);
  transition: all ease-in-out .3s;
}

.logo-text:hover,
.logo-text:focus {
 
}

nav .navbar {
  display: none;
  width: 100%;
	padding-top: 0.5rem;
	padding-bottom: 1rem;
}

nav .navbar ul li a {
  color: var(--clr-neutral-300);
  opacity: 0.9;
  transition: all ease-in-out .3s;
}

nav .navbar ul li a:hover,
nav .navbar ul li a:focus {
  opacity: 1;
}

@-webkit-keyframes slideIn {
	from { 
		transform: translateY(-100%); 
	}
	to { 
		transform: translateY(0); 
	}
}
@keyframes slideIn {
	from { 
		transform: translateY(-100%); 
	}
	to { 
		transform: translateY(0); 
	}
}

nav .navbar.active {
	display: block;
	animation: slideIn 0.1s;
}

nav ul {
	display: flex;
	flex-direction: column;
  gap: 1rem;
	flex-wrap: wrap;
	text-align: center;
}

nav ul li {
	padding: 0.5rem 0.75rem 0.5rem 0.75rem;
	font-size: var(--fs-400);
}

nav .btn {
	display: block;
	text-align: center;
  margin-top: 1rem;
}

/*Hamburger*/
nav .hamburger {
  transition: opacity .3s;
}

nav .hamburger:hover {
  cursor: pointer;
  opacity: .5;
}

nav .hamburger .line {
  width: 32px;
  height: 3px;
  background: var(--clr-neutral-300);
  margin: 6px auto;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}
/* end of hamburger */

@media (min-width: 48em) {
  nav {
    background-color: var(--clr-bg-100);
  }

  nav .hamburger {
    display: none;
  }

  nav .navbar {
   display: flex;
   gap: 2rem;
  }
  
  nav .navbar,
	nav .navbar.active {
		display: flex;
		align-items: center;
		width: auto;
		padding-top: 0;
		padding-bottom: 0;
	}

  nav ul {
		flex-direction: row;
	  gap: 1.5rem;
	}

  nav ul li a {
    color: var(--clr-neutral-300);
    opacity: 0.9;
  }

	nav ul li:hover a {
		padding-bottom: 4px;
    border-bottom: 2px solid var(--clr-accent-400);
	}
  
  nav .navbar ul {
    display: flex;
    gap: 1.5rem;
  }
  
  nav .btn {
   margin-top: 0;
  }
}

@media (min-width: 87.5em) {
  nav .container-nav {
    margin: 0rem 6rem;
  }
}

/*HERO CONTENT*/

/*background-image*/
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(images/hero-image-3x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--clr-bg-200);
  background-position: center center;
  min-height: 80vh;
  position: relative;
  
}

.hero::after {
  content: "";
  background-color: var(--clr-neutral-300);
  opacity: 0.5;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  
}

.hero-content {
  gap: 1.5rem;
  align-items: flex-start;
  z-index: 1;
  padding-top: 18rem;
}

.hero-headings {
  gap: 1rem;
  align-items: flex-start;
  color: var(--clr-neutral-100);
}

@media (min-width: 48em) {
  .hero-content {
    max-width: 81ch;
  }
}

@media (min-width: 87.5em) {
  .hero-content {
    padding-top: 20rem;
    
  }
}


/*BENEFITS SECTION*/

.benefits {
  background-color: var(--clr-bg-100);
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}

.benefit-card {
  background-color: var(--clr-bg-100);
  box-shadow: var(--box-shadow);
  gap: 1.5rem;
  padding: 2rem;
  position: relative;
}

.benefit-icon {
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.benefits-content {
  gap: 1rem;
}

@media (min-width: 48em) {
  .benefits {
    grid-template-columns: repeat(3, 1fr);
  }

  .benefits {
    gap: 2rem;
  }
}

/*STATS SECTION*/

.stats {
  background-color: var(--clr-bg-300);
}

.stats .container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 6rem;

}

.stat-item {
  align-items: center;
  color: var(--clr-neutral-100);
  gap: 1rem;
}

.stat-item p:nth-of-type(2) {
  text-align: center;
}

.stat-number {
  font-size: var(--fs-900);
  line-height: 0.7;
}

@media (min-width: 48em) {
  .stats .container {
    grid-template-columns: repeat(3, 1fr);
  }
}


/*SERVICES SECTION*/

.services-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
}

.service {
  
  
  box-shadow: var(--box-shadow);
}

.orange-line {
  height: 1rem;
  width: 100%;
  background-color: var(--clr-accent-400);
}

.service-img {
  font-size: 0;
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.service-description {
  gap: 1rem;
  align-items: flex-start;
  margin: 1.5rem 0;
}

.service-content {
  padding: 0 1rem 1.5rem 1rem;
}

.service .link {
  font-size: var(--fs-400);
  color: var(--clr-accent-400);
  font-weight: var(--fw-600);
  align-self: flex-start;
  transition: all ease-in-out .3s;
  
}

.service .link:hover,
.service .link:focus {
  color: var(--clr-hover);
}

@media (min-width: 48em) {
  .services-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }
}

/*WORKS SECTION*/

.works {
  background-color: var(--clr-bg-200);
}

.works-wrapper {
  display: flex;
  gap: 6rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.works-item {
  box-shadow: var(--box-shadow);
  gap: 1rem;
  padding: 2rem;
  position: relative;
  flex-basis: 100%;
}

.works-item-1::before, .works-item-2::before,
.works-item-3::before {
  color: var(--clr-accent-400);
  font-size: var(--fs-900);
  font-weight: var(--fw-700);
}

.works-item-1::before {
  content: "01";
  top: -35px;
  position: absolute;
}

.works-item-2::before {
  content: "02";
  top: -35px;
  position: absolute;
}

.works-item-3::before {
  content: "03";
  top: -35px;
  position: absolute;
}

@media (min-width: 48em) {
  .works-item {
    flex-basis: 32%;
  }

  .works-item-1::before, .works-item-2::before,
  .works-item-3::before {
    top: -40px;
  }
}


/*ABOUT SECTION*/

.about {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.about-content {
  background-color: var(--clr-bg-300);
  color: var(--clr-neutral-100);
  padding: 5.25rem 1.5rem;
}

.about-img {
  background-image: url(images/about-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 0px bottom 0px;
  position: relative;
}

.seo {
  position: absolute;
  bottom: 24px;
  right: 24px;
  color: var(--clr-neutral-100);
  display: flex;
  align-items: flex-end;
  padding: 1rem;
}

.seo span {
  display: block;
  font-size: var(--fs-200);
  font-style: italic;
  opacity: 0.8;
}

.about-content h2 {
  max-width: 25ch;
}

.about-content p {
  margin-bottom: 1.5rem;
  max-width: 60ch;
}

.about-content a {
  color: var(--clr-neutral-100);
  font-weight: var(--fw-600);
  transition: all ease-in-out .3s;
}
.about-content a:hover {
  opacity: 0.8;
  
}


@media (min-width: 48em) {
  .about {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
  }

  .about-img {
    background-position: right 0px bottom 0px;
  }

  .about-content {
    padding: 6rem 1.5rem 6rem 4rem;
  }

  .about-img {
    order: -1;
  }
}

@media (min-width: 87.5em) {
  .about-content {
    padding: 10rem;
  }
  .about-img {
    background-position: right 0px top 0px;
  }

}
